<%= form_with model: [@ticket, @comment] do |form| %>
  <div class="field">
    <%= form.label :body, class: 'label' %>
    <%= form.text_area :body, class: 'textarea' %>
  </div>

  <div class="field">
    <%= form.fields_for :ticket do |ticket_form| %>
      <%= ticket_form.label :status, "Ticket Status", class: 'label' %>
      <div class="control">
        <div class="select">
          <%= ticket_form.select(:status, [
              ['New', 'new'],
              ['Blocked', 'blocked'],
              ['In Progress', 'in_progress'],
              ['Fixed', 'fixed']
            ], {}, {class: 'select'}) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class: 'button is-primary' %>
    </div>
  </div>
<% end %>