<%= form_with model: @ticket do |form| %>
  <div class="field">
    <%= form.label :project_id, class: 'label' %>
    <div class="control">
      <div class="select">
        <%= form.collection_select :project_id, Project.all, :id, :name %>
      </div>
    </div>
  </div>
  
  <div class="field">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'input' %>
  </div class="field">

  <div class="field">
    <%= form.label :body, class: 'label' %>
    <%= form.text_area :body, class: 'textarea' %>
  </div class="field">

  <div class="field">
    <%= form.label :tags, class: 'label' %>
    <div class="control">
      <div class="select is-multiple" size=3>
        <%= form.collection_select :tag_ids, Tag.all, :id, :name, {}, {multiple: true, size: 4} %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :assignee, class: 'label' %>
    <div class="control">
      <div class="select">
        <%= form.collection_select :assignee_id, User.all, :id, :name %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :status, class: 'label' %>
    <div class="control">
      <div class="select">
        <%= form.select(:status, [
          ['New', 'new'],
          ['Blocked', 'blocked'],
          ['In Progress', 'in_progress'],
          ['Fixed', 'fixed']
        ]) %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class: 'button is-primary' %>
    </div>
  </div>
<% end %>