<tr>
  <td>
    <p class="has-text-weight-bold">
      <%= link_to ticket.name, ticket_path(ticket) %>
    </p>
  </td>

  <td><%= ticket.assignee&.name %></td>
  <td><%= ticket.status %></td>
  <td><%= tag_names(ticket.tags) %></td>
  <td>
    <% if logged_in? %>
      <%= link_to 'Edit', edit_ticket_path(ticket), class: 'button is-small is-outlined is-link' %>
      <%= link_to 'Delete', ticket_path(ticket), method: 'delete', class: 'button is-small is-outlined is-danger' %>
    <% end %>
  </td>
</tr>