<%= render 'shared/title', title: @ticket.name %>

<div class="content">
	<p><%= @ticket.body %></p>
	<p><strong>Tags</strong>: <%= tag_names(@ticket.tags) %></p>

  <% if logged_in? %>
    <div class="buttons">
      <%= link_to 'Edit', edit_ticket_path(@ticket), class: 'button is-small is-outlined is-link' %>
    </div> 
  <% end %>
</div>

<table class="table is-fullwidth is-striped">
  <thead>
    <th>Status</th>
    <th>Creator</th>
    <th>Assignee</th>
  </thead>

  <tbody>
    <tr>
      <td><%= @ticket.status %></td>
      <td><%= @ticket.creator&.name %></td>
      <td><%= @ticket.assignee&.name %></td>
    </tr>
  </tbody>
</table>

<h2 class="title is-3">Comments</h2>
<% @ticket.comments.each do |comment| %>
  <div class="box">
    <p>
      <%= comment.body %>
    </p>
    <p class="has-text-grey is-italic">
      &ndash; <%= comment.creator.name %>, 
      <%= time_ago_in_words(comment.created_at) %> ago
    </p>

    <% if logged_in? && current_user.id == comment.creator.id %>
      <p>
        <%= link_to 'Edit', edit_ticket_comment_path(@ticket, comment) %>
      </p>
    <% end %>
  </div>
<% end %>

<%= form_with scope: :comment, url: ticket_comments_path(@ticket) do |form| %>
  <div class="field">
    <%= form.label :body, class: 'label' %>
    <%= form.text_area :body, class: 'textarea' %>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class: 'button is-primary' %>
    </div>
  </div>
<% end %>