<%= render 'shared/title', title: @project.name %>
<p><%= @project.description %></p>

<div class="buttons">
  <%= link_to 'Edit', edit_project_path(@project), class: 'button is-link is-outlined is-small' %>
  <%= link_to 'Delete', '', class: 'button is-danger is-outlined is-small' %>
</div>

<h2 class="title is-2">Tickets</h2>
<table class="table is-fullwidth is-striped">
  <thead>
    <th>Name</th>
    <th>Assignee</th>
    <th>Status</th>
    <th>Tags</th>
  </thead>

  <tbody>
    <% @project.tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.name %></td>
        <td></td>
        <td><%= ticket.status %></td>
        <td></td>
        <td>Edit Delete</td>
      </tr>
    <% end %>
  </tbody>
</table>
