<%= render 'shared/title', title: @project.name %>

<div class="content">
  <p><%= @project.description %></p>

  <% if logged_in? %>
    <div class="buttons">
      <%= link_to('Edit', edit_project_path(@project), 
        class: 'button is-link is-outlined is-small'
      ) %>
      <%= link_to('Delete', project_path(@project), method: 'delete', 
        class: 'button is-danger is-outlined is-small'
      ) %>
    </div>
  <% end %>
</div>

<h2 class="title is-2">Tickets</h2>
<%= render 'tickets/tickets_table', tickets: @project.tickets %>
