<%= render 'shared/title', title: 'Tags' %>

<table class="table is-fullwidth is-striped">
  <thead>
    <th>Name</th>
    <th class="has-text-centered">Tickets</th>
    <th></th>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td class="has-text-centered"><%= tag.tickets.size %></td>
          <td>
            <%= link_to 'Edit', edit_tag_path(tag), class: 'button is-small is-outlined is-link' %>
            <%= link_to 'Delete', tag_path(tag), method: 'delete', class: 'button is-small is-outlined is-danger' %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="buttons">
  <%= link_to 'New Tag', new_tag_path, class: 'button is-primary is-outlined' %>
</div>