<%= render 'shared/title', title: 'Tags' %>

<table class="table is-fullwidth is-striped">
  <thead>
    <th>Name</th>
    <th class="has-text-centered">Tickets</th>
    <th></th>
  </thead>

  <tbody>
    <% @tag_counts.each do |tag, count| %>
      <% id, name = tag %>

      <tr>
        <td><%= name %></td>
        <td class="has-text-centered"><%= link_to count, {
          controller: 'tickets', action: 'index', tag_id: id
        } %></td>
          <td>
            <% if logged_in? %>
              <%= link_to 'Edit', edit_tag_path(id), class: 'button is-small is-outlined is-link' %>
              <%= link_to 'Delete', tag_path(id), method: 'delete', class: 'button is-small is-outlined is-danger' %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if logged_in? %>
  <div class="buttons">
    <%= link_to 'New Tag', new_tag_path, class: 'button is-primary is-outlined' %>
  </div>
<% end %>
